﻿@{
    Layout = null;
}

@using Shaunataftersow.Web.Common;
@using Shaunataftersow.Web.Models;
@model OrganizationModel

@using (Html.BeginForm("SaveOrganization", ControllerHelper.Organization, new { @id = "formOrganization" }))
{
    @Html.HiddenFor(x => x.id)
    

    <div class="row" style="margin-bottom:10px;">
        <div class="col-lg-12">
            <label for="Name" class="col-lg-3">@Html.LabelFor(x => x.description)</label>
            <div class="col-lg-9">
                @Html.TextBoxFor(x => x.description, new { @class = "form-control", @maxlength = "500", @style = "height:40px", @tabindex = "1" })
                @Html.ValidationMessageFor(m => m.description)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="col-lg-3"></div>
            <div class="col-lg-9" style="text-align:right !important">
                <input type="button" class="btn btn-primary mr-5" value="Submit" onclick="SaveOrganization();">
                <input type="button" class="btn btn-default" data-dismiss="modal" value="Close">
            </div>
        </div>
    </div>
}

<script>
    function SaveOrganization() {
        debugger;
        var description = $('#description').val();
        $('#valdescription').remove();
        var Status = true;
        if (description == 'undefined' || description == null || description == '') {
            Status = false;
            $('#description').after('<div style="position:inherit;"><span role="alert" id="valdescription" style="padding-bottom:0px;padding-top:0px" data-valmsg-for="files" data-for="files" class="k-widget k-tooltip k-tooltip-validation k-invalid-msg field-validation-error"><span class="k-icon k-warning"> </span>Description is required.</span></div>');
        }
        
        if (Status == true) {
            var formdata = $('form').serialize();
            $.ajax({
                url: '@Url.Action("SaveOrganization", ControllerHelper.Organization)',
                async: false,
                type: 'POST',
                data: formdata,
                success: function (data) {
                    if (data.Flag == '') {
                        GetJsaRecord();
                        alert('Organization saved successfully.');
                        $('#myOrganizationModal').modal('toggle');
                    }
                    else {
                        alert(data.Flag);
                    }
                }
            });
        }
    }
</script>



