﻿@{
    ViewBag.Title = "Organization";
}
@using Shaunataftersow.Web.Common



<div class="row">

    <a class="btn btn-primary"  onclick="OpenAddPopUp(0)" data-toggle="modal" style="margin:20px;" data-target="#myOrganizationModal" href="javascript:void(0)"><span class="k-icon k-add"></span>Add Organization</a>
    
    <table id="tblOrganization" class="table table-striped table-bordered" cellspacing="0" width="100%" style="margin:20px;"> 
        <thead class="k-grid-header">
            <tr>
                <th class="k-header" width="50%">Description</th>
                <th class="k-header" width="10%" style="text-align:center">Action</th>
            </tr>
        </thead>
    </table>
</div>
<div class="modal fade" id="myOrganizationModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Organization</h4>
            </div>
            <div class="modal-body">
                <div id="idOrganization">
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function GetJsaRecord() {
        $.ajax({
            url: encodeURI('@Url.Action("ReadOrganizationList", ControllerHelper.Organization)'),
            type: "GET",
            data: {  },
            dataType: "json",
            success: mySuccHandler,
            error: myErrHandler
        });
    }
    function mySuccHandler(data) {
        try {
            var dataTableExample = $('#tblOrganization').DataTable();
            if (dataTableExample != 'undefined') {
                dataTableExample.destroy();
            }

            dataTableExample = $('#tblOrganization').DataTable({
                "order": [[0, "desc"]],
                "dom": 'frtlip',
                "aaData": data,
                "bFilter": false,
                "aoColumns": [{
                    "mData": "description"
                }
                , {
                    "sWidth":"12%",
                    "mData": "id",
                    "sortable": false,
                    "className": "dt-center",
                    "render": function (data, type, row, meta) {
                        var result = '';
                        result = result + '<a onclick="OpenAddPopUp(' + row.id + ')" data-toggle="modal" data-target="#myOrganizationModal" class="btn" href="#" data-toggle="tooltip" title="Edit">Edit</a>';
                        result = result + '<a id="lnkDelete" onclick="DeleteModel(' + row.id + ')" href="#"  class="k-button" data-toggle="tooltip" title="Delete">Delete</a>';
                        return result;
                    }
                }
                ]
            });
            $(".dataTables_length").css('clear', 'none');
            $(".dataTables_length").css('margin-right', '20px');
            //info -> reset clear and padding
            $(".dataTables_info").css('clear', 'none');
            $(".dataTables_info").css('padding', '0');
        } catch (e) {
            alert(e.message);
        }
    }

    function myErrHandler(sender, args) {
        alert(args);
    }

    $(document).ready(function () {
        GetJsaRecord();
    });

    function OpenAddPopUp(id) {
        debugger;
        $.ajax({
            url: '@Url.Action("OpenPopUp", ControllerHelper.Organization)',
            async: false,
            type: 'POST',
            data: { Id: id },
            success: function (data) {
                $('#idOrganization').html(data);
            }
        });
    }

    function DeleteModel(id) {
        //bootbox.confirm("Are you sure want to delete this Organization?", function (result) {
        //    if (result) {
                $.ajax({
                    url: '@Url.Action("DeleteOrganization", ControllerHelper.Organization)',
                    async: false,
                    type: 'POST',
                    data: { Id: id },
                    success: function (data) {
                        GetJsaRecord();
                        alert('Organization Deleted successfully.');
                    }
                });
        //    }
        //});
    }

    function ResetClick() {
        $('#OrganizationName').val('');
        GetJsaRecord();
    }

    function SearchClick() {
        GetJsaRecord();
    }

    $("input").keydown(function (eve) {
        var code = eve.keyCode || eve.which;
        if (code == 13) {
            GetJsaRecord();
        }
    });

    function ActiveInActivedata(value, id) {
        var Status = value == 1 ? "Active" : "Inactive";
        bootbox.confirm("Are you sure want to " + Status + " this Organization?", function (result) {
            if (result) {
                $.ajax({
                    url: '@Url.Action("ActiveInActiveOrganization", ControllerHelper.Organization)',
                    async: false,
                    type: 'POST',
                    data: {
                        Id: id,
                        StatusId: value
                    },
                    success: function (data) {
                        if (data.Flag == '') {
                            GetJsaRecord();
                            showNotification('Organization ' + (value == 1 ? 'Activated' : 'Inactivated') + ' successfully.', '@Enums.NotifyType.SuccessMessage.GetHashCode()');
                        }
                        else {
                            showNotification(data.Flag, '@Enums.NotifyType.ErrorMessage.GetHashCode()');
                        }
                    }
                });
            }
        });
    }
</script>