﻿@{
    Layout = null;
}
@using System.Web.Configuration;
@using Shaunataftersow.Web.Common;
@using Shaunataftersow.Web.Models;
@model UserOrganizationModel

@using (Html.BeginForm("SaveUserOrganisation", ControllerHelper.UserOrganisation, FormMethod.Post, new { @id = "formUserOrganisation", enctype = "multipart/form-data", @role = "form" }))
{
    @Html.HiddenFor(x => x.Id)

    @Html.HiddenFor(x => x.UserEmail)
    @Html.HiddenFor(x => x.UserName)
    @Html.HiddenFor(x => x.UserId)


    <div class="row" style="margin-bottom:10px;">
        <div class="col-lg-12">
            <label for="Name" class="col-lg-3">@Html.LabelFor(x => x.Name)</label>
            <div class="col-lg-9">
                @Html.TextBoxFor(x => x.Name, new { @class = "form-control", @maxlength = "500", @style = "height:40px", @tabindex = "1" })
                @Html.ValidationMessageFor(m => m.Name)
            </div>
        </div>
    </div>
    <div class="row" style="margin-bottom:10px;">
        <div class="col-lg-12">
            <label for="Name" class="col-lg-3">@Html.LabelFor(x => x.Mobile)</label>
            <div class="col-lg-9">
                @Html.TextBoxFor(x => x.Mobile, new { @class = "form-control", @maxlength = "10", @type = "number", @style = "height:40px", @tabindex = "2" })
                @Html.ValidationMessageFor(m => m.Mobile)
            </div>
        </div>
    </div>
    <div class="row" style="margin-bottom:10px;">
        <div class="col-lg-12">
            <label for="Name" class="col-lg-3">@Html.LabelFor(x => x.RoleId)</label>
            <div class="col-lg-9">
                @Html.DropDownListFor(x => x.RoleId, new SelectList((IEnumerable<SelectListItem>)ViewBag.RoleList, "Value", "Text"), "---Select---", new { @class = "form-control", @tabindex = "3" })
                @Html.ValidationMessageFor(m => m.RoleId)
            </div>
        </div>
    </div>
    <div class="row" style="margin-bottom:15px;">
        <div class="col-lg-12">
            <label for="Name" class="col-lg-3">@Html.LabelFor(x => x.Active)</label>
            <div class="col-lg-9">
                @Html.CheckBoxFor(x => x.Active, new { @class = "checkbox" ,@tabindex="4"})
            </div>
        </div>
    </div>

    <div class="row" style="margin-top:60px !important;">
        <div class="col-lg-12">
            <div class="col-lg-3"></div>
            <div class="col-lg-9" style="text-align:right !important">
                <input type="submit" tabindex="5" class="btn btn-primary mr-5" value="Submit" onclick="return SaveUserOrganisation();">
                <input type="button" tabindex="6" class="btn btn-default" data-dismiss="modal" value="Close">
            </div>
        </div>
    </div>
}

<script>

    function SaveUserOrganisation() {

        var Name = $('#Name').val();
        $('#valName').remove();

        var Mobile = $('#Mobile').val();
        $('#valMobile').remove();

        var RoleId = $('#RoleId').val();
        $('#valRoleId').remove();

        var Status = true;
        if (Name == 'undefined' || Name == null || Name == '') {
            Status = false;
            $('#Name').after('<div style="position:inherit;"><span role="alert" id="valName" style="padding-bottom:0px;padding-top:0px" data-valmsg-for="files" data-for="files" class="k-widget k-tooltip k-tooltip-validation k-invalid-msg field-validation-error"><span class="k-icon k-warning"> </span>Name is required.</span></div>');
        }

        if (Mobile == 'undefined' || Mobile == null || Mobile == '') {
            Status = false;
            $('#Mobile').after('<div style="position:inherit;"><span role="alert" id="valMobile" style="padding-bottom:0px;padding-top:0px" data-valmsg-for="files" data-for="files" class="k-widget k-tooltip k-tooltip-validation k-invalid-msg field-validation-error"><span class="k-icon k-warning"> </span>Mobile is required.</span></div>');
        }
        else {
            debugger;
            if (Mobile.length != 10) {
                Status = false;
                $('#Mobile').after('<div style="position:inherit;"><span role="alert" id="valMobile" style="padding-bottom:0px;padding-top:0px" data-valmsg-for="files" data-for="files" class="k-widget k-tooltip k-tooltip-validation k-invalid-msg field-validation-error"><span class="k-icon k-warning"> </span>Mobile no must be  10 digit only.</span></div>');
            }
        }
        if (RoleId == 'undefined' || RoleId == null || RoleId == '' || RoleId==0) {
            Status = false;
            $('#RoleId').after('<div style="position:inherit;"><span role="alert" id="valRoleId" style="padding-bottom:0px;padding-top:0px" data-valmsg-for="files" data-for="files" class="k-widget k-tooltip k-tooltip-validation k-invalid-msg field-validation-error"><span class="k-icon k-warning"> </span>Role name is required.</span></div>');
        }

        if (Status == true) {
            return true;

        }
        return false;
    }
</script>



