﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - VideoSWMS</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/datatablecss")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/datatablejs")
    
    @Scripts.Render("~/bundles/jqueryval")
<style>
    .field-validation-error {
    color:red;
    }
</style>
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("VideoSWMS", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Organization", "Index", "Organization")</li>
                    <li>@Html.ActionLink("Controls", "Index", "Control")</li>
                    <li>@Html.ActionLink("Hazards", "Index", "Hazard")</li>
                    <li>@Html.ActionLink("Tasks", "Index", "Task")</li>
                    <li>@Html.ActionLink("Activities", "Index", "Activity")</li>
                    <li>@Html.ActionLink("User Organisation", "Index", "UserOrganisation")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    
    @RenderSection("scripts", required: false)
</body>
</html>
